.container {
    position: absolute;
    left: 0;
    border: 2px solid var(--color-light-beige);
    border-radius: 20px;
    background-color: var(--color-white);
    z-index: var(--z-index-tooltip);
}

.top {
    bottom: 70px;
}

.bottom {
    top: 70px;
}

@media (max-width: 480px) {

}