.footerContainer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--color-white);
}

.footerText {
    margin-bottom: 20px;
    font-family: var(--font-family-NunitoSans);
    font-size: var(--font-size-base);
    font-weight: 400;
    color: var(--color-gray);
}

@media (max-width: 480px) {
    .footerContainer {
        align-items: start;
    }

    .footerText {
        display: none;
    }
}