.iconWatch {
    width: 24px;
    height: 24px;
}

@media (max-width: 480px) {
    .iconWatch {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 285px) {
    .iconWatch {
        width: 17px;
        height: 17px;
    }
}