.container {
    margin: 40px 40px 0 40px;
}

.actualLink {
    composes: baseLink from "../../../../App/styles.css";
}

.headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    composes: baseHeading from "../../../../App/styles.css";
    margin-top: 10px;
}

.linkAddBird {
    composes: baseButton from "../../../../App/styles.css";
    padding: var(--button-padding);
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-orange);
}

.linkAddBird:hover {
    background-color: var(--color-orange-hover);
}


@media (max-width: 1250px) {
    .linkAddBird {
        display: block;
        padding: var(--button-padding-small);
        text-align: center;
    }
}

@media (max-width: 700px) {
    .container {
        margin: 30px 20px 0 20px;
    }

    .headingContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15px;
    }

    .heading {
        margin-bottom: 15px;
    }

    .linkAddBird {
        margin-right: 20px;
    }
}

@media (max-width: 480px) {
    .container {
        margin: 10px 20px 0 20px;
    }

    .linkAddBird {
        display: none;
    }
}

@media (max-width: 285px) {
    .container {
        margin: 20px 10px 0 10px;
    }
}

