.container {
    position: relative;
}

.loaderImgContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: var(--z-index-loader);
    transform: translateY(-50%) translateX(-50%);
}

.loaderOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: var(--z-index-loader);
    background: var(--color-gray-overlay);
}